[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
langchain = "*"
langchain-anthropic = "*"

[dev-packages]

[requires]
python_version = "3.10"
